<:Title>
  Current Game

<:Body>

<div class="dropdown">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Colors
    <span class="caret"></span>
  </button>
  <button class="btn btn-default btn-lg reset" type="button">
    Reset
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><input type="checkbox" name="color" value="red">Red</li>
    <li role="presentation"><input type="checkbox" name="color" value="blue">Blue</li>
    <li role="presentation"><input type="checkbox" name="color" value="grey">Grey</li>
    <li role="presentation"><input type="checkbox" name="color" value="black">Black</li>
    <li role="presentation"><input type="checkbox" name="color" value="green">Green</li>
    <li role="presentation"><input type="checkbox" name="color" value="yellow">Yellow</li>
  </ul>
</div>

<div id="counter0" class="player player0">
  <div class="v-center">
    <span class="clicks0">0</span>
  </div>
</div>

<div id="counter1" class="player player1">
  <div class="v-center">
    <span class="clicks1">0</span>
  </div>
</div>